<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Film Ratings Page{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'film_list/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'festivals/images/Mac-512.png' %}"/>
        <style>
            table,
            th,
            td {
                border: 1px solid {{ festival_color }};
            }
            body {
                background: black url("{% static background_image %}") no-repeat;
            }
        </style>
    </head>

    <body>
        <hr>
        <h1>{% block header %} Page Title {% endblock %}</h1>
        <p>
            <span style="color:{{ festival_color }}; text-align: left; width:49%; display: inline-block;">
            {% if festival %}
                {{ festival }}
            {% else %}
                No festival selected.
            {% endif %}
            </span>
            <span style="text-align: right; width:50%; display: inline-block;">
            {% if user.is_authenticated %}
                {{ user.username }}
                <a href="{% url 'authentication:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'authentication:login' %}">Login</a>
            {% endif %}
            </span>
        </p><p>
            <span style="text-align: right; width:99%; display: inline-block;">
            {% if current_fan %}
                {% if user_represents_fan %}
                    {{ user.username }} represents {{ current_fan }}
                {% else %}
                    {{ current_fan }}
                {% endif %}
            {% else %}
                No fan is active.
            {% endif %}
            </span>
        </p>
        <a href="{% url 'film_list:index' %}">index</a>
        <hr>
        {% block content %}
            Body content
        {% endblock %}
    </body>

    <footer>
        <hr>
        <small>
            {% block footer %} ©MR {% endblock %}
        </small>
    </footer>
</html>
