<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Film Ratings Page{% endblock %}</title>
    </head>

    <body>
        <hr>
        <h2>
            {% block header %} Page Title {% endblock %}
        </h2>
        <hr>
        {% block content %}
            Body content
        {% endblock %}
    </body>

    <footer>
        <hr>
        <small>
            {% block footer %} Page Footer {% endblock %}
        </small>
    </footer>
</html>