{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    {% if user_is_admin %}
        <h3>Pick a festival to load data from</h3>
        {% if festivals %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <br>
            <table>
                <thead>
                    <tr>
                        <td><b>Festival</b></td>
                        <td><b>#Films on file</b></td>
                        <td><b>#Ratings on file</b></td>
                        <td><b>#Films</b></td>
                        <td><b>#Ratings</b></td>
                    </tr>
                </thead>
                <tbody>
                {% for festival in festivals %}
                    <tr>
                        <td style="color:{{ festival.color }}">{{ festival.str }}</td>
                        <td>{{ festival.film_count_on_file }}</td>
                        <td>{{ festival.rating_count_on_file }}</td>
                        <td>{{ festival.film_count }}</td>
                        <td>{{ festival.rating_count }}</td>
                        <td style="padding: 2px 8px">
                            <input type="submit" value="Load" name="{{ festival.submit_name }}" style="width: 100%; padding: 2px 15px; margin: 2px 0; font-size: small;">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>
        {% else %}
            <p>No festivals are available.</p>
        {% endif %}
        <br>
    {% else %}
        <h2 class="error">Not allowed</h2>
        <p>Only an admin fan can load festival data.</p>
    {% endif %}
{% endblock %}}
