*.swp
*.DS_Store
*.pyc
*.png
*.jpeg
*.jpg
*.gif
.idea/
__init__.py
.vs/
mono_crash.*
FilmRatings/
PresentScreenings/bin/
PresentScreenings/obj/
packages/
old_restored_dot_git/
FilmFestivalLoader/get_filmurls.sh
FilmFestivalLoader/get_urls.sh
FilmRatings/film_rating_data.sql
FestivalPlanner/db.sqlite3
