{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    {% if user_is_admin %}
        <h2 class="row col-left-h2">Pick a festival to load films and ratings from</h2>
        <div class="row">
            <span class="col-right">
                <a href="{% url 'films:films' %}">Film ratings</a>
                <br>
                <a href="{% url 'loader:dump_data' festival.id %}?label=ratings">Dump ratings</a>
                <br>
                <a href="{% url 'loader:list_action' %}?label=screenings">Load screenings</a>
            </span>
        </div>
        {% if unexpected_error %}
            <h2 class="error">Unexpected error</h2>
            <p>{{ unexpected_error }}</p>
            <br>
        {% endif %}
        {% if festival_items %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <table>
                    <thead>
                        <tr>
                            <th>Festival</th>
                            <th>#Films on file</th>
                            <th>#Films</th>
                            <th>#Ratings on file</th>
                            <th>#Ratings</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for festival_item in festival_items %}
                        <tr>
                            <td style="color:{{ festival_item.color }}">{{ festival_item.str }}</td>
                            <td>{{ festival_item.film_count_on_file }}</td>
                            <td>{{ festival_item.film_count }}</td>
                            <td>{{ festival_item.rating_count_on_file }}</td>
                            <td>{{ festival_item.rating_count }}</td>
                            <td class="with-submit">
                                {% if festival_item.film_count_on_file %}
                                    <input type="submit" value="Load" name="{{ festival_item.submit_name }}" class="in-table">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        {% else %}
            <p>No festivals are available.</p>
        {% endif %}
        <br>
    {% else %}
        <h2 class="error">Not allowed</h2>
        <p>Only an admin fan can load festival data.</p>
    {% endif %}
{% endblock %}}
