{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="row col-left-h2">Save ratings of {{ festival }}</h2>
    <div class="row">
        <span class="col-right">
            <a href="{% url 'films:films' %}">Back to ratings list</a>
        </span>
    </div>
    {% if form.errors %}
        <h2 class="error">Unexpected error</h2>
        {% for error in form.errors %}
            <p class="log">{{ error }}</p>
        {% endfor %}
        <br>
    {% endif %}
    {% if user_is_admin %}
        <table>
            <tbody>
                <tr><td><b>Festival</b></td><td>{{ festival_items.festival }}</td></tr>
                <tr><td><b>#Films</b></td><td>{{ festival_items.film_count }}</td></tr>
                <tr><td><b>#Films on file</b></td><td>{{ festival_items.film_count_on_file }}</td></tr>
                <tr><td><b>#Ratings</b></td><td>{{ festival_items.rating_count }}</td></tr>
                <tr><td><b>#Ratings on file</b></td><td>{{ festival_items.rating_count_on_file }}</td></tr>
                <tr><td><b>File</b></td><td>{{ festival_items.ratings_file }}</td></tr>
            </tbody>
        </table>
        <br>
        <form method="post">
            {% csrf_token %}
            <input type="submit"; value="Save {{ festival_items.rating_count }} ratings">
        </form>
    {% else %}
        <h2 class="error">Not allowed</h2>
        <p>Only an admin fan can save ratings.</p>
    {% endif %}
{% endblock %}
