{% extends "base_template.html" %}

{% block title %}{{ title|title }}{% endblock %}
{% block header %}{{ title|title }}{% endblock %}

{% block content %}
    {% load static %}
    {% if user_is_admin %}
        <h2 class="row col-left-h2">Hit the button to {{ action }} theater data</h2>
        <div class="row">
            <span class="col-right">
                <a href="{% url 'theaters:theaters' %}">Theaters</a>
            </span>
        </div>
        <table>
            <tbody>
                <tr><th>#Cities on file</th><td style="text-align: right">{{ theater_items.city_count_on_file }}</td></tr>
                <tr><th>#Cities</th><td style="text-align: right">{{ theater_items.city_count }}</td></tr>
                <tr><th>#Theaters on file</th><td style="text-align: right">{{ theater_items.theater_count_on_file }}</td></tr>
                <tr><th>#Theaters</th><td style="text-align: right">{{ theater_items.theater_count }}</td></tr>
                <tr><th>#Screens on file</th><td style="text-align: right">{{ theater_items.screen_count_on_file }}</td></tr>
                <tr><th>#Screens</th><td style="text-align: right">{{ theater_items.screen_count }}</td></tr>
            </tbody>
        </table>
        <br>
        <form method="post">
            {% csrf_token %}
            <input type="submit"; value="{{ action|title }} theater data">
        </form>
    {% else %}
        <h2 class="error">Not allowed</h2>
        <p>Only an admin fan can {{ action }} theater data.</p>
    {% endif %}
{% endblock %}}
