{% extends "base_template.html" %}

{% load humanize %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
<h2 class="row col-left-h2">{{ sub_header }}</h2>
<div class="row">
    <span class="col-right">
        <a href="{% url 'films:films' %}">Film ratings</a>
        <br>
        <a href="{% url 'availabilities:list' %}">Availabilities</a>
        <br>
        <a href="{% url 'screenings:planner' %}">Planner</a>
        <br>
        <a href="{% url 'loader:list_action' %}?label=screenings">Load screenings</a>
        <br>
        <a href="{% url 'loader:list_action' %}?label=attendances">Load attendances</a>
        <br>
        <a href="{% url 'loader:dump_data' festival.id %}?label=attendances">Dump attendances</a>
        <br>
        <a href="{% url 'loader:list_action' %}?label=tickets">Load tickets</a>
        <br>
        <a href="{% url 'loader:dump_data' festival.id %}?label=tickets">Dump tickets</a>
    </span>
</div>

{% block log %}
    {{ block.super }}
{% endblock log %}

<a name="header_screening"></a>
<div class="no-select">
{% if action.screening_id %}
    <p>
        {{ action.fan }}
        updated attendances of
        <a href="{% url 'screenings:details' action.screening_id %}">{{ action.screening_str }}</a>,
        {{ action.action_time|naturaltime }}
    </p>
    <ul>
    {% for update in action.updates %}
        <li>{{ update }}</li>
    {% endfor %}
    </ul>
    <br>
{% endif %}

{% include "../includes/date_picker.html" with label=day_label day=day choices=day_choices name="day" %}

{% if selected_screening_props %}
<div>
    {% with props=selected_screening_props %}
    <h3>
        <span class="label-8rem">
            Selected:
        </span>
        <span class="modest-dropdown inline-dropdown-addition">
            <span class="active-text" style="color: var(--modestStandoutColor);">
                {{ props.selected_screening }}
            </span>
            <span class="modest-dropdown-content"
                  style="min-width:50rem; margin-left: 12rem; background: black; cursor: default;">
                <table>
                    <tbody>
                    <tr>
                        <th>Status</th>
                        <td style="background: {{ props.pair.background }}; color: {{ props.pair.color }}">
                            {{ props.status.label }}
                        </td>
                    </tr>
                    <tr>
                        <th>Attendants</th>
                        <td>{% if props.attendants %} {{ props.attendants }} {% else %} - {% endif %}</td>
                    </tr>
                    <tr>
                        {% with film=props.selected_screening.film %}
                            <th>Ratings of <a href="{% url 'films:details' film.id %}">{{ film.title }}</a></th>
                            <td>{% if props.ratings %} {{ props.ratings }} {% else %} - {% endif %}</td>
                        {% endwith %}
                    </tr>
                    <tr>
                        <th>Film duration</th>
                        <td>{{ props.film_duration }}</td>
                    </tr>
                    <tr>
                        <th>Screening duration</th>
                        <td>{{ props.screening_duration }}</td>
                    </tr>
                    <tr>
                        <th>Q&A</th>
                        <td>{% if props.q_and_a %} {{ props.q_and_a }} {% else %} - {% endif %}</td>
                    </tr>
                    <tr>
                        <th>Film subsection</th>
                        <td style="background: {{ props.subsection.section.color }}; color: var(--modestStandoutColor);">
                            {% if props.subsection %} {{ props.subsection.name }} {% else %} - {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Film description</th>
                        <td>{% if props.description %} {{ props.description }} {% else %} - {% endif %}</td>
                    </tr>
                    </tbody>
                </table>
                {% with film_screening_props=props.film_screening_props %}
                    {% include "../includes/film_screenings.html" with film_screening_props=film_screening_props %}
                {% endwith %}
            </span>
        </span>
    </h3>
    {% endwith %}
</div>
<br>
{% endif %}


{% if screen_rows or availability_props %}
    <table class="day-schema-border">
        <thead>
        <tr class="sticky-t-head" >
            <th class="day-schema-border">Screen</th>
            <th class="day-schema-border"
                style="position: relative; vertical-align: text-top;">
                {% for time in timescale %}
                    <span class="day-schema-time-mark" style="left: {{ time.left }}px">{{ time.text }}</span>
                {% endfor %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for prop in availability_props %}
        <tr class="day-schema-border">
            <td class="sticky-left"
                style="border: var(--screeningBorderWidth) solid var(--screeningBorderColor);">
            <small>
            </small>
            </td>
            <td class="day-schema-row"
                style="min-width: {{ row.total_width }}px;">
            <small>
                {% for period in prop.periods %}
                    <span class="day-schema-screening"
                          style="left: {{ period.left }}px; width: {{ period.width }}px; height: 1rem; border-bottom: 1px solid {{ festival_color }};">
                        {{ prop.fan }} {{ period.start_dt|date:"H:i" }} - {{ period.end_dt|date:"H:i" }}
                    </span>
                {% endfor %}
            </small>
            </td>
        </tr>
        {% endfor %}

        {% for row in screen_rows %}
        <tr class="day-schema-border"
            style="vertical-align: text-top;">
            <td class="sticky-left"
                style="border: var(--screeningBorderWidth) solid var(--screeningBorderColor); z-index: 3; color: {{ row.color }}; background: {{ row.background }}">
                <a name="{{ row.fragment_name }}"></a>
                {{ row.screen }}
            </td>
            <td class="day-schema-row"
                style="min-width: {{ row.total_width }}px;">
                {% for prop in row.screening_props %}
                    {% with info=prop.info_pair %}
                    <span class="day-schema-screening"
                          style="background: {{ prop.pair.background }}; color: {{ prop.pair.color }}; left: {{ prop.left }}px; width: {{ prop.width }}px; border: 1px solid {{ prop.frame_color }}; border-right: 1px solid {{ prop.section_color }};">
                        <a style="color: {{ prop.pair.color }};" href="{% url 'screenings:details' prop.screening.id %}">
                            {{ prop.line_1 }}
                        </a>
                        <br>
                        <span style="color: {{ prop.rating_color }}">{{ prop.auto_planned }}{{ prop.film_rating }}</span>
                        <span class="day-schema-screening-info"
                              style="background: {{ info.background }}; color: {{ info.color }};">
                            <a style="color: {{ info.color }}" href="{% url 'screenings:day_schema' %}{{ prop.query_string }}{{ prop.fragment }}">
                                {{ prop.info_spot }}
                            </a>
                            {% if prop.tickets_warning %}
                                <span style="color: {{ prop.warning_color }};">!</span>
                            {% endif %}
                            {% if prop.awaiting_confirmation %}
                                <span style="color: {{ prop.awaiting_color }};">?</span>
                            {% endif %}
                        </span>
                        {{ prop.line_2 }}
                    </span>
                    {% endwith %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No screenings available for this festival day.</p>
{% endif %}
</div>
{% endblock %}
