{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}
{% block festival %} <a href="{% url 'festivals:index' %}?next={% url 'screenings:day_schema' %}">{{ festival }}</a> {% endblock %}

{% block content %}
<h2 class="row col-left-h2">Screening of <span style="color: {{ festival_color }};">{{ screening.film }}</span></h2>
<div class="row">
    <span class="col-right">
        <a href="{% url 'screenings:day_schema' %}">Day schema</a>
        <br>
        <a href="{% url 'films:films' %}">Film ratings</a>
        <br>
        <a href="{% url 'screenings:warnings' %}">Warnings</a>
        <br>
        <a href="{% url 'screenings:planner' %}">Planner</a>
    </span>
</div>
<div style="text-align: center;">
{{ screening }}
</div>
<h3>Screening details</h3>
<ul>
    <li>Screen: {{ screening.screen }}</li>
    <li>Time: {{ screening.start_dt|date:"D j M H:i" }} - {{ screening.end_dt|date:"H:i" }}</li>
    <li>Film details: <a href="{% url 'films:details' screening.film.id %}">{{ screening.film.title }} details</a></li>
    <li>Film website: <a href="{{ screening.film.url }}">{{ screening.film.title }}</a></li>
    <li>Film description: {{ film_description|default_if_none:" - " }}</li>
    <li>Screening duration: {{ duration }} ({{ minutes }})</li>
    <li>Subtitles: {{ screening.subtitles|default_if_none:" - " }}</li>
    <li>Q&A: {{ screening.q_and_a|default:" - " }}</li>
    <li>Combination program: {{ screening.combination_program|default_if_none:" - " }}</li>
    <li>Screening ID: {{ screening.id }}</li>
</ul>
<br>
<h3>Screening attendances</h3>
<form method="post">
    {% csrf_token %}
    <table style="min-width: 30%">
        <thead>
            <tr>
                <th>Film fan</th>
                <th class="center">Attends</th>
                <th>Preset</th>
                <th class="center">Ticket</th>
                <th class="center">Confirmed</th>
            </tr>
        </thead>
        <tbody>
        {% for prop in fan_props %}
            <tr>
                <td>{{ prop.fan }}</td>
                {% if prop.attends %}
                    <td class="with-submit-center"><input type="checkbox" checked="" value="{{ prop.value }}" name="{{ prop.fan }}"></td>
                {% else %}
                    <td class="with-submit-center"><input type="checkbox" value="attends" name="{{ prop.fan }}"></td>
                {% endif %}
                <td style="background: var(--screeningBackground)">{{ prop.attends }}</td>
                {% if prop.has_ticket %}
                    <td class="with-submit-center"><input type="checkbox" checked="" value="" name="{{ prop.ticket_fan }}"></td>
                {% else %}
                    <td class="with-submit-center"><input type="checkbox" value="ticket" name="{{ prop.ticket_fan }}"></td>
                {% endif %}
                {% if prop.confirmed %}
                    <td class="with-submit-center"><input type="checkbox" checked="" value="" name="{{ prop.confirmed_fan }}"></td>
                {% else %}
                    <td class="with-submit-center"><input type="checkbox" value="confirmed" name="{{ prop.confirmed_fan }}"></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
<input type="submit" value="Submit attendance statuses">
</form>
<br>
{% include "../includes/film_screenings.html" with film_screening_props=film_screening_props %}
{% endblock %}
