{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
<h2 class="row col-left-h2">{{ sub_header }}</h2>
<div class="row">
    <span class="col-right">
        <a href="{% url 'screenings:day_schema' %}">Day schema</a>
        <br>
        <a href="{% url 'films:films' %}">Film ratings</a>
        <br>
        <a href="{% url 'theaters:theaters' %}">Theaters</a>
    </span>
</div>

{% if form_errors or log.results %}
    <a href="#planned">To planned screenings list</a>
    <br>
{% endif %}
<a href="#sorted">To sorted eligible screenings</a>
<br>

{% block errors %}
    {{ block.super }}
{% endblock errors %}

{% block log %}
    {{ block.super }}
{% endblock log %}

<a name="planned"></a>
<p>
    {{ eligible_film_count }} eligible films
    <br>
    {{ eligible_screening_count }} eligible screenings
    {% if planned_screening_count %}
        <br>{{ planned_screening_count }} screenings planned
    {% endif %}
</p>
<form method='post'>
    {% csrf_token %}
    {% if planned_screening_count %}
        <input type="submit" value="Plan screenings" disabled>
        <br>
        <input class="warning" type="submit" name="undo" value="Undo planning">
    {% else %}
        <input type="submit" name="plan" value="Plan screenings">
        <br>
        <input class="disabled-warning" type="submit" value="Undo planning" disabled>
    {% endif %}
</form>
<br>
{% if planned_screening_rows %}
    <h3>Planned screenings</h3>
    <table>
        <thead>
            <tr>
                <th>Start date</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Screen</th>
                <th>Film title</th>
                <th class="center">#Filmscreenings</th>
                <th class="center">#Available Filmscreenings</th>
                <th>Attendants</th>
                <th>Fan ratings</th>
                <th class="center">Representative rating</th>
            </tr>
        </thead>
        <tbody>
        {% for row in planned_screening_rows %}
            <tr>
                <td>
                {% ifchanged row.start_dt.date %}
                    <a href="{% url 'screenings:day_schema' %}?day={{ row.start_dt.date | date:'Y-m-d' }}">{{ row.start_dt.date | date:"D j M Y" }}</a>
                {% endifchanged %}
                </td>
                <td>{{ row.start_dt | date:"H:i" }}</td>
                <td>{{ row.end_dt | date:"H:i" }}</td>
                <td>{{ row.screen_name }}</td>
                <td>{{ row.film.title }}</td>
                <td class="center">{{ row.filmscreening_count }}</td>
                <td class="center">{{ row.available_filmscreening_count }}</td>
                <td>{{ row.attendants }}</td>
                <td>{{ row.fan_ratings_str }}</td>
                <td class="center">{{ row.film_rating_str }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{current_fan}} has no screenings planned (yet).</p>
{% endif %}
<br>
<a name="sorted"></a>
<br>
<h3>Sorted eligible screenings</h3>
<table>
    <thead>
    <tr>
        <th class="sticky">Screening</th>
        <th class="sticky">Available</th>
        <th class="sticky center">Highest film ratings</th>
        <th class="sticky">Attendants</th>
        <th class="sticky center">Q&A</th>
        <th class="sticky center">#Available Filmscreenings</th>
        <th class="sticky center">Theater priority</th>
        <th class="sticky">Duration</th>
        <th class="sticky">Start time</th>
        <th class="sticky center">Auto planned</th>
    </tr>
    </thead>
    <tbody>
    {% for row in eligible_screening_rows %}
    <tr>
        <td>
            <a href="{% url 'screenings:day_schema' %}{{ row.query_string }}{{ row.fragment }}">
                {{ row.screening }}
            </a>
        </td>
        <td>{{ row.available_fans_str }}</td>
        <td class="center">{{ row.highest_rating }}, {{ row.second_highest_rating }}</td>
        <td>{{ row.attendants_str }}</td>
        <td class="center">{{ row.q_and_a | yesno:"Q&A,-"}}</td>
        <td class="center">{{ row.available_filmscreening_count }}</td>
        <td class="center">{{ row.theater_prio }}</td>
        <td>{{ row.duration }}</td>
        <td>{{ row.start_dt | date:"Y-m-d H:i" }}</td>
        <td class="center">{{ row.auto_planned | yesno:"𝛑,-"}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include "../includes/warning_box.html" with stats=warning_stats %}

{% endblock %}
