/* Define variables.*/
:root {
    --regularColor: silver;
    --modestStandoutColor: ivory;
    --linkColor: green;
    --inputBackground: forestGreen;
    --hoverBackground: darkGreen;
    --focusBackgrond: yellowGreen;
    --inputDisabledColor: lightGrey;
    --inputDisabledBackground : red;
    --stickyBackground: #00000090;
    --tableBackground: #00000070;
    --modestBackground: #00000070;
    --screeningBackground: #000000BB;
    --screeningBorderWidth: 3px;
    --screeningBorderColor: #00000070;
}

/* Color links green, conform Django style. */
a,
li a,
td a {
    color: var(--linkColor);
}

/* Style the h1 header as to stand out within the page.
The h1 header is meant to be used as page title only. */
h1 {
    color: var(--modestStandoutColor);
    text-align: center;
    font-family: copperplate;
}

/* Color most regular elements silver, as to contrast the dark
background pictures. */
p,
small,
label,
h2,
h3,
h4,
li,
div,
span,
table,
th,
td {
    color: var(--regularColor);
    font-family: "trebuchet ms", sans-serif;
}

/* Use b for table head cells. Color these cells a bit brighter than
the regular cells. */
b,
th {
    color: var(--modestStandoutColor);
    text-align: left;
}

/* Static table styling. Color is dependant of the current festival
and is set dynamically. */
table,
th,
td {
    padding: 10px;
    border-collapse: collapse;
    background-color: var(--tableBackground);
}
th.active {
    padding: 0 8px;
}

/* Table cell style when containing an input widget */
td.with-submit {
    padding: 0 8px;
}

/* Make the select pop-up widget a bit larger than standard. */
select {
    font-size: large
}

/* Completely customize the submit widget, among other things make it
a bit larger. */
input[type=submit] {
    width: 50%;
    font-size: large;
    background-color: var(--inputBackground);
    color: var(--modestStandoutColor);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: var(--hoverBackground);
}

/* Customize the text and password input widgets as to make the text
larger and to create harmony with the submit widget. */
input[type=password],
input[type=text] {
    font-size: large;
    background-color: var(--inputBackground);
    color: var(--modestStandoutColor);
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
}
input[type=password]:hover,
input[type=text]:hover {
    background-color: var(--hoverBackground);
}
input[type=password]:focus,
input[type=text]:focus {
    background-color: var(--focusBackgrond);
}

/* Specifics for in-table input widgets */
input[type=submit].in-table {
    width: 100%;
    padding: 6px 15px;
    font-size: small;
    border-radius: 4px;
}
input[type=submit].in-table:hover {
    background-color: var(--hoverBackground);
}

/* Include padding and border in the width and height of each element */
* {
  box-sizing: border-box;
}

/* ----- Class selectors ----- */

/* Style for error reports */
.error {
    color: tomato;
    text-shadow: 4px 4px 3px green;
    margin-bottom: 2px;
}

/* Style for log items */
.log {
    font-size: small;
    padding-left: 40px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Style for the app name */
.app {
    display: block;
    color: var(--modestStandoutColor);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
}

/* Form styles */
.label-8rem {
    display: inline-block;
    min-width: 8rem;"
}

/* Screening day scheme grid style */
.day-schema-border {
    border: var(--screeningBorderWidth) solid var(--screeningBorderColor);
}
.day-schema-row {
    background-color: var(--screeningBackground);
    position: relative;
}
.day-schema-screening {
    padding: 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--screeningBackground);
    position: absolute;
    top: 0px;
    bottom: 0px;
    /* left should be defined in the template because it is variable */
}
.day-schema-screening-info {
    margin-right: 0.5rem;
    padding: 0 1rem;
    border 3px solid white;
    border-radius: 1rem;
}

/* Sticky styles.r */
.sticky-index {
    position: sticky;
    top: 0;
    background-color: var(--stickyBackground);
}
.sticky-t-head {
    position: sticky;
    top: 14pt;
    background-color: var(--stickyBackground);
}
.sticky-footer {
    position: sticky;
    bottom: 0;
    background-color: var(--stickyBackground);
}
.sticky-left {
    position: sticky;
    left: 0;
    background-color: var(--stickyBackground);
}

/* Put an element left and one right on the same line */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 0px;
}
.col-left {
    width: 50%;
}
.col-left-h2 {
    width: 50%;
    margin-top: 6px;
}
.col-right {
    width: 50%;
    text-align: right;
}
.col-all {
    width: 100%;
    text-align: center;
}

.left-half {
    display: inline-block;
    text-align: left;
    width: 50%;
}
.right-half {
    display: inline-block;
    text-align: right;
    width: 49%;
    position: absolute;
    right: 1%;
}

/* Dropdown definitions for cells within a table */
.inline-dropdown-addition {
    display: inline !important;
    padding: 0.5rem;
    font-size: 1rem
}
.cell-dropdown {
    position: relative;
    display: table-cell;
    background-color: var(--inputBackground);
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
}
.cell-dropdown:hover {
    background-color: var(--hoverBackground);
}
.cell-dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    background-color: var(--inputBackground);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
    padding: 6px 8px;
    z-index: 1;
}
.cell-dropdown-content input {
    color: var(--modestStandoutColor);
    background-color: var(--inputBackground);
    width: 100%;
    margin: 0px;
    padding: 4px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}
.cell-dropdown-content input:hover {
    background-color: var(--hoverBackground)
}
.cell-dropdown:hover .cell-dropdown-content {
    display: block;
}
.cell-dropdown:hover .drop-button {
    background-color: var(--hoverBackground);
}

/*
Move a part of a line to a new line one higher.
In combination with column-based left and right alignment, this will look better
on a small screen and will allow for a one-line sticky header on a small screen.
*/
div.up {
    text-align: right;
}
span.up {
    text-align: right;
}
@media screen and (min-width: 601px) {
    div.up {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    span.up {
        display: none;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
    background-color: var(--inputBackground);
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
}
.dropdown:hover {
    background-color: var(--hoverBackground);
}

/* Style The Dropdown Button */
.drop-button {
    position: relative;
    color: var(--modestStandoutColor);
    background-color: transparent;
    margin: auto;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    background-color: var(--inputBackground);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
    padding: 6px 8px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content input {
    color: var(--modestStandoutColor);
    background-color: var(--inputBackground);
    width: 100%;
    margin: 0px;
    padding: 4px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}
.dropdown-content input:hover {
    background-color: var(--hoverBackground)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-button {
    background-color: var(--hoverBackground);
}

/* More modest drop down */
.modest-dropdown {
    position: relative;
    display: table-cell;
    background-color: var(--modestBackground);
    text-align: left;
    margin: auto;
    width: auto;
    height: auto;

}
.modest-dropdown:hover {
    background-color: var(--hoverBackground);
}
.modest-dropdown-content {
    display: none;
    position: absolute;
    cursor: default;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;
    padding: 6px 8px;
    z-index: 2;
}
.modest-dropdown:hover .modest-dropdown-content {
    display: block;
}
.active-text {
    color: var(--linkColor);
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

/* Color of disabled element */
.disabled-color {
    cursor: default;
    color: var(--inputDisabledColor);
}

/* Disable text selection */
.no-select {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    cursor: default;
}
