{% if film_screening_props %}
<br>
<h3>All screenings of <span style="color: {{ festival_color }};">{{ film_title }}</span></h3>
<table style="min-width: 30%">
    <thead>
    <tr>
        <th>Screening</th>
        <th>Details</th>
        <th>Status</th>
        <th>Attendants</th>
        <th>Tickets</th>
        <th>Confirmed</th>
        <th>Available</th>
        <th>Q&A</th>
    </tr>
    </thead>
    <tbody>
    {% for prop in film_screening_props %}
    <tr>
        {% if prop.film_screening == screening %}
            <td style="background: {{ prop.pair_selected.background }}; color: {{ prop.pair_selected.color }};">
        {% else %}
            <td>
        {% endif %}
                <a href="{% url 'screenings:day_schema' %}{{ prop.query_string }}{{ prop.fragment }}">
                    {{ prop.film_screening.str_short }}
                </a>
            </td>
        <td>
            <a href="{% url 'screenings:details' prop.film_screening.id %}">{{ prop.film_screening.id }}</a>
        </td>
        <td style="background: {{ prop.pair.background }}; color: {{ prop.pair.color }};">
            {{ prop.status.label }}
        </td>
        <td>
            {% for attendant_props in prop.attendants_props %}
                {% if attendant_props.type %}
                    <span style="color: {{ attendant_props.color }};">{{ attendant_props.name }} {{ attendant_props.wording }}{{ attendant_props.delimiter }}</span>
                {% else %}
                    {{ attendant_props.name }}{{ attendant_props.delimiter }}
                {% endif %}
            {% endfor %}
            {% if not prop.attendants_props %} - {% endif %}
        </td>
        <td>
            {% for holder_props in prop.ticket_holders_props %}
                {% if holder_props.type %}
                    <span style="color: {{ holder_props.color }};">{{ holder_props.name }} {{ holder_props.wording }}{{ holder_props.delimiter }}</span>
                {% else %}
                    {{ holder_props.name }}{{ holder_props.delimiter }}
                {% endif %}
            {% endfor %}
            {% if not prop.ticket_holders_props %} - {% endif %}
        </td>
        <td>{{ prop.confirmed_ticket_holders | join:", " | default:"-" }}</td>
        <td>{{ prop.available_fans|default:"-" }}</td>
        <td>{{ prop.q_and_a|default:"-" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
