<th class="sticky-modest-drop-t-head">
    <span class="header-active-text">
        {{ obj_filter_props.title|capfirst }}
    </span>
    {% if obj_filter_props.on %}
    <span>🔬</span>
    {% endif %}
    <div class="sticky-modest-drop-t-head-content" style="z-index: 5;">
        <table style="min-width: 14rem;">
            {% if not obj_filter_props.on %}
            <thead><tr><td class="center">{{ obj_filter_props.header }}</td></tr></thead>
            {% endif %}
            <tbody>
                {% for choice in obj_filter_props.choices %}
                    <tr><td>
                    {% if choice.enabled %}
                        <a href="{{ choice.href_filter }}">
                            {% if choice.on %}{{ choice.action }} {% endif %}{{ choice.label }}
                        </a>
                    {% else %}
                        <span class="disabled-color no-select">
                            {{ choice.label }}
                        </span>
                    {% endif %}
                    </td></tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</th>
