{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="row col-left-h2">Section Overview</h2>
    <div class="row">
        <span class="col-right">
            <a href="{% url 'films:films' %}">Film ratings</a>
            <br>
            <a href="{% url 'screenings:day_schema' %}">Day schema</a>
            <br>
            <a href="{% url 'loader:sections' %}">Load sections</a>
            <br>
            <a href="{% url 'loader:ratings' %}">Load films and ratings</a>
            <br>
            <a href="{% url 'loader:list_action' %}?label=screenings">Load screenings</a>
        </span>
    </div>

    {% block log %}
        {{ block.super }}
    {% endblock log %}

    <br>
    {% if subsection_rows %}
        <table>
            <thead>
                <tr>
                    <th>Subsection</th>
                    <th class="right">#Films</th>
                    <th>Description</th>
                    <th>Section</th>
                    <th class="right">ID</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
            {% for row in subsection_rows %}
                <tr>
                    {% with section=row.section color=row.section.color %}
                        <td><a href="{{ row.url }}">{{ row.name }}</a></td>
                        <td class="right" style="background: {{ color }}; color: white;">
                            {% if row.films_count %} {{ row.films_count }} {% else %} - {% endif %}
                        </td>
                        <td>{{ row.description }}</td>
                        <td style="background: {{ color }}; color: white">{{ section.name }}</td>
                        <td class="right" style="background: {{ color }}; color: white">{{ section.section_id }}</td>
                        <td style="background: {{ color }}; color: white">{{ color }}</td>
                    {% endwith %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No sections are available for this festival.</p>
    {% endif %}
    <br>
{% endblock %}
