{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    {% if user_is_admin %}
        <h2 class="row col-left-h2">{{ theater.parse_name }}</h2>
        <span class="row">
            <span class="col-right">
                <a href="{% url 'theaters:theaters' %}">Back to theater index</a>
                <br>
                <a href="{% url 'loader:new_screens' %}">New theater data</a>
            </span>
        </span>
        <br>
        {% block errors %}
            {{ block.super }}
        {% endblock %}
        <form method="post">
        {% csrf_token %}
        <table>
            <tbody>
                <tr><th>Theater</th><td>{{ theater.parse_name }}</td></tr>
                <tr><th>Priority</th><td style="color:{{ priority_color }}">{{ priority_label }}</td></tr>
                <tr><th>Theater PK</th><td>{{ theater.pk }}</td></tr>
                <tr><th>Theater ID</th><td>{{ theater.theater_id }}</td></tr>
                <tr><th>City</th><td>{{ theater.city }}</td></tr>
                <tr><th>Country</th><td>{{ theater.city.country }}</td></tr>
                <tr><th>Abbreviation</th><td>{{ theater_form.abbreviation }}</td></tr>
            </tbody>
        </table>
        <br><br>
        <table>
            <thead>
            <tr>
                <th class="sticky">Screen</th>
                <th class="sticky">PK</th>
                <th class="sticky">ID</th>
                <th class="sticky">Type</th>
                <th class="sticky">Base abbreviation</th>
                <th class="sticky">Abbreviation</th>
            </tr>
            </thead>
            <tbody>
            {% for item in screen_items %}
                <tr>
                    <td>{{ item.screen.parse_name }}</td>
                    <td>{{ item.screen.pk }}</td>
                    <td>{{ item.screen.screen_id }}</td>
                    <td>{{ item.address_type }}</td>
                    <td>{{ item.form_field.screen_abbreviation }}</td>
                    <td>{{ theater.abbreviation }}{{ item.screen.abbreviation }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Submit screen abbreviations" class="hidden-submit"/>
        </form>
    {% else %}
        <h2 class="error">Not allowed</h2>
        <p>Only an admin fan can edit theater data.</p>
    {% endif %}
{% endblock %}
