{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="row col-left-h2">Theaters Overview</h2>
    <span class="row">
        <span class="col-right">
            <a href="{% url 'loader:theaters' %}?action=dump">Dump theater data</a>
            <br>
            <a href="{% url 'loader:new_screens' %}">Insert new theater data</a>
            <br>
            <a href="{% url 'loader:list_action' %}?label=screenings">Load screenings</a>
            <br>
            <a href="{% url 'screenings:day_schema' %}">Day schema</a>
            <br>
            <a href="{% url 'screenings:planner' %}">Planner</a>
        </span>
    </span>

    {% block log %}
        {{ block.super }}
    {% endblock log %}

    {% if theater_rows %}
        <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th class="sticky">City</th>
                    <th class="sticky">Theater</th>
                    <th class="sticky">Abbreviation</th>
                    <th class="sticky">Priority</th>
                    <th class="sticky">Screens</th>
                </tr>
            </thead>
            <tbody>
            {% for row in theater_rows %}
                <tr>
                    {% if row.is_festival_city %}
                        <td style="color: {{ festival_color }};">{{ row.theater.city.name }}</td>
                    {% else %}
                        <td>{{ row.theater.city.name }}</td>
                    {% endif %}
                    <td style="color:{{ row.priority_color }}">
                        <a href="{% url 'theaters:details' row.theater.pk %}">
                            {{ row.theater.parse_name }}
                        </a>
                    </td>
                    <td style="color:{{ row.priority_color }}">{{ row.theater.abbreviation }}</td>
                    {% include "../includes/cell_dropdown.html" with label_current=row.priority_label choices=row.priority_choices %}
                    <td style="color:{{ row.priority_color }}">{{ row.screen_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    {% else %}
        <p>No theaters are loaded</p>
    {% endif %}<br>
{% endblock %}
