{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <span class="left-half">
        <h3>Theaters Overview</h3>
    </span>
    <span class="right-half">
        <a href="/loader/theaters?action=dump">Dump theater data</a>
    </span>
    {% if log %}
        <h3 style="color:{{ festival_color }}; margin-bottom: 2px">{{ log.action }} results</h3>
        {% for result in log.results %}
            <p class="log">{{ result }}</p>
        {% endfor %}
    {% endif %}
    <br>
    {% if theater_rows %}
        <table>
            <thead>
                <tr>
                    <th class="sticky-t-head">City</th>
                    <th class="sticky-t-head">Theater</th>
                    <th class="sticky-t-head">Abbreviation</th>
                    <th class="sticky-t-head">Priority</th>
                    <th class="sticky-t-head">Screens</th>
                </tr>
            </thead>
            <tbody>
            {% for row in theater_rows %}
                <tr>
                    {% if row.is_festival_city %}
                        <td style="color:{{ festival_color }}">{{ row.theater.city.name }}</td>
                    {% else %}
                        <td>{{ row.theater.city.name }}</td>
                    {% endif %}
                    <td style="color:{{ row.priority_color }}">
                        <a href="{% url 'theaters:details' row.theater.pk %}">
                            {{ row.theater.parse_name }}
                        </a>
                    </td>
                    <td style="color:{{ row.priority_color }}">{{ row.theater.abbreviation }}</td>
                    <td style="color:{{ row.priority_color }}">{{ row.priority_label }}</td>
                    <td style="color:{{ row.priority_color }}">{{ row.screen_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No theaters are loaded</p>
    {% endif %}<br>
{% endblock %}
