{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
<h2 class="row col-left-h2">Availabilities overview</h2>
<span class="row">
    <span class="col-right">
        <a href="{% url 'screenings:day_schema' %}">Day schema</a>
        <br>
        <a href="{% url 'films:films' %}">Film ratings</a>
    </span>
</span>

{% if user_is_admin %}
    <div class="no-select">
        <h3>Add an availability period</h3>

        {% block errors %}
            {{ block.super }}
        {% endblock %}

        {% block warnings %}
            {{ block.super }}
        {% endblock %}

        {% block log %}
            {{ block.super }}
        {% endblock log %}

        {% if reminders %}
            <h3 class="log-header" style="color: var(--warningColor);">Reminder</h3>
            {% for reminder in reminders %}
                <p class="log">{{ reminder }}</p>
            {% endfor %}
            <br>
        {% endif %}
        <br>
        {% include "../includes/fan_picker.html" with label=fan_label fan=fan choices=fan_choices name="fan" %}

        {% include "../includes/date_picker.html" with label=start_day_label day=start_day choices=start_day_choices name="start_day" %}
        {% include "../includes/time_picker.html" with label=start_time_label time=start_time choices=start_time_choices name="start_time" %}

        {% include "../includes/date_picker.html" with label=end_day_label day=end_day choices=end_day_choices name="end_day" %}
        {% include "../includes/time_picker.html" with label=end_time_label time=end_time choices=end_time_choices name="end_time" %}

        <form method="post">
            {% csrf_token %}
            {% if warnings and confirm %}
                <span class="disabled-warning-input">
                    <input type="submit" value="{{ value }}" disabled>
                </span>
            {% elif warnings %}
                <span class="warning-input">
                    <input type="submit" name="{{ action }}" value="{{ value }}"/>
                </span>
            {% elif can_submit and confirm %}
                <input type="submit" value="{{ value }}" disabled>
            {% elif can_submit %}
                <input type="submit" name="{{ action }}" value="{{ value }}"/>
            {% else %}
                <span class="disabled-error-input">
                    <input type="submit" value="{{ value }}" disabled>
                </span>
            {% endif %}

            {% if confirm %}
                <br>
                <br>
                <h3 class="log-header">Sure?</h3>
                <input type="submit" name="{{ action }}_canceled" value="No please cancel"
                       style="width: 25%;"/>
                <span class="warning-input">
                    <input type="submit" name="{{ action }}_confirmed" value="Sure, {{ action }}"
                           style="width: 25%;"/>
                </span>
            {% endif %}
        </form>
        <br>

    {% if availability_rows or fan_filter_props.on %}
        <h3>Availabilities {{ festival }} </h3>
        <div style="color: {{ festival_color }}">
            {{ festival_start_dt|date:"D Y-m-d H:i" }} - {{ festival_end_dt|date:"D Y-m-d H:i" }}
        </div>
        <br>
        <table>
            <thead>
                <tr>
                    <th class="sticky-t-head">Start date</th>
                    <th class="sticky-t-head">End date</th>
                    {% include "../includes/filtered_header_field.html" with obj_filter_props=fan_filter_props %}
                </tr>
            </thead>
            <tbody>
            {% for row in availability_rows %}
                <tr>
                    <td>
                        {% ifchanged row.start_dt %}
                            {{ row.start_dt|date:"D Y-m-d H:i" }}
                        {% endifchanged %}
                    </td>
                    <td>
                        {% ifchanged row.end_dt %}
                            {{ row.end_dt|date:"D Y-m-d H:i" }}
                        {% endifchanged %}
                    </td>
                    <td>{{ row.fan.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No availabilities available for this festival.</p>
    {% endif %}
    {% if filtered and not availability_rows %}
        <p>Availabilities hidden by a filter.</p>
    {% endif %}
    </div>
    <br>
{% else %}
    <h2 class="error">Not allowed</h2>
    <p>Only an admin fan can maintain availabilities.</p>
{% endif %}
{% include "../includes/warning_box.html" with stats=stats %}
{% endblock %}}
