{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}
{% block festival %} <a href="{% url 'festivals:index' %}?next={% url 'films:films' %}">{{ festival }}</a> {% endblock %}

{% block content %}
<h2 class="row col-left-h2"><a href="{{ film.url }}">{{ film.title }}</a></h2>
<div class="row">
    <span class="col-right">
        {% if film_in_cache %}
            <a href="{% url 'films:films' %}{{ fragment }}">Ratings of {{ film.title }}</a>
        {% elif no_cache %}
            Film not directly addressable in uninitialized film list
        {% else %}
            Film is hidden in ratings list <a href="{% url 'films:films' %}{{ display_all_query }}{{ fragment }}">Clear filters</a>
        {% endif %}
        <br>
        <a href="{% url 'films:films' %}">Film ratings</a>
        <br>
        <a href="{% url 'screenings:day_schema' %}">Day schema</a>
        <br>
        <a href="{% url 'screenings:planner' %}">Planner</a>
    </span>
</div>

{% if screened_films %}
<h3>Screened films</h3>
<ul>
    {% for screened_film in screened_films %}
    <li><a href="{% url 'films:details' screened_film.id %}">{{ screened_film }}</a> - {{ screened_film.rating_string }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if combination_films %}
<h3>Screened as part of combination program</h3>
<ul>
    {% for combination_film in combination_films %}
    <li><a href="{% url 'films:details' combination_film.id %}">{{ combination_film.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<h3>Film details</h3>
<ul>
    <li>Duration: {{ film.duration }}</li>
    <li>Subsection: {% if film.subsection %} {{ film.subsection.name }} {% else %} - {% endif %}</li>
    <li>Description: {% if description %} {{ description }} {% else %} - {% endif %}</li>
    <li>Reviewer: {% if film.reviewer %} {{ film.reviewer }} {% else %} - {% endif %}</li>
    <li>Medium category: {{ film.medium_category }}</li>
    <li>Film ID: {{ film.film_id }}</li>
    <li>Film PK: {{ film.pk }}</li>
    <li>Rating count: {{ film.filmfanfilmrating_set.count }}</li>
    <br>
    {% for item in metadata %}
        <li>{{ item.key }}: {{ item.value }}</li>
    {% endfor %}
</ul>
<br>

<h3>Fan ratings</h3>
<form method="post">
{% csrf_token %}
<table>
    <thead>
        <tr>
            <th>Film fan</th>
            <th>Rating</th>
            <th>Meaning</th>
            {% if screened_films %}<th>Time weighted mean rating</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for fan_row in fan_rows %}
        <tr>
            <td>{{ fan_row.fan.name }}</td>
            {% if fan_row.fan == current_fan %}
                {% include "../includes/cell_dropdown.html" with label_current=fan_row.rating_str choices=fan_row.choices %}
            {% else %}
                <td class="center">{{ fan_row.rating_str }}</td>
            {% endif %}
            <td>{{ fan_row.rating_label }}</td>
            {% if screened_films %}
                <td class="right">{{ fan_row.mean_rating|default:" - " }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>
<br>

{% for item in film_screening_props_list %}
    {% include "../includes/film_screenings.html" with film_title=item.title film_screening_props=item.props %}
{% endfor %}

<br>
<h3>Alternative titles</h3>
<a class="indent" href="{% url 'films:titles' film.id %}">Manage alternative titles for this film</a>
{% endblock %}
