{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="row col-left-h2">Film list with pre-attendance ratings</h2>
    <div class="row">
        <span class="col-right">
            <a href="{% url 'screenings:day_schema' %}">Day schema</a>
            <br>
            <a href="{% url 'films:reviewers' %}">Reviewers</a>
            <br>
            <a href="{% url 'loader:ratings' %}">Load films and ratings</a>
            <br>
            <a href="{% url 'loader:new_screens' %}">Insert new theater data</a>
            <br>
            <a href="{% url 'loader:list_action' %}?label=screenings">Load screenings</a>
            <br>
            <a href="{% url 'loader:dump_data' festival.id %}?label=ratings">Dump ratings</a>
        </span>
    </div>
    {% if log %}
        <h3 class="log-header">{{ log.action }} results</h3>
        {% if found_films %}
            {% for film in found_films %}
                <a href="{% url 'films:details' film.id %}" style="padding-left: 40px;" >{{ film.title }}</a>
                <br>
            {% endfor %}
        {% else %}
            {% for result in log.results %}
                <p class="log">{{ result }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if unexpected_errors %}
        <h2 class="error">Unexpected error</h2>
        {% for error in unexpected_errors %}
            <p class="log">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {% if feature_count %}
        <p>{{ rated_features_count }} of {{ feature_count }} feature films rated</p>
            <ul>
            {% for count in eligible_counts %}
                <li>
                    {{ count.plannable_films_count }} with rating {{ count.base_rating }}
                    {% if count.base_rating < highest_rating %}
                        or higher
                    {% endif %}
                    so far
                    {% if count.plannable_films_count %}
                        - {{ count.projected_plannable_count }} projected to be plannable
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
    {% else %}
        <p>No feature films on this page.</p>
    {% endif %}
    {% if action.new_rating %}
        <p>
        {{ action.fan }}
        {% if action.old_rating == '-' %}
            gave <a href="{% url 'films:details' action.rated_film_id %}">{{ action.rated_film }}</a> a pre-attendance {{ action.rating_type }} of <em> {{ action.new_rating }} ({{ action.new_rating_name }})</em>
        {% elif action.new_rating == '0' %}
            removed {{ action.rating_type }} {{ action.old_rating }} of <a href="{% url 'films:details' action.rated_film_id %}">{{ action.rated_film }}</a>
        {% else %}
            changed {{ action.rating_type }} {{ action.old_rating }} of <a href="{% url 'films:details' action.rated_film_id %}">{{ action.rated_film }}</a> into <em> {{ action.new_rating }} ({{ action.new_rating_name }})</em>
        {% endif %}
        {{ action.action_time|timesince }} ago
        </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ search_form.as_p }}
    </form>
    <form method="post">
        {% csrf_token %}
        <div class="no-select">
        <table>
            <thead>
                <tr>
                    <th class="sticky-t-head" style="vertical-align: text-top;">Film</th>
                    <th class="sticky-t-head">
                        Duration
                        <br>
                        <a href="{% url 'films:films' %}{{ display_shorts_href_filter }}">{{ display_shorts_action }}</a>
                    </th>
                    <th class="sticky-t-head" style="vertical-align: text-top;">
                        Subsection
                        {% if display_all_subsections_query %}
                            <br>
                            <a href="{% url 'films:films' %}{{ display_all_subsections_query }}">Display all</a>
                        {% endif %}
                    </th>
                    {% for fan_header in fan_headers %}
                        <th class="sticky-t-head">
                            {{ fan_header.fan }}
                            <br>
                            <a href="{% url 'films:films' %}{{ fan_header.href_filter }}">{{ fan_header.action }}</a>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in film_rows %}
            <tr>
                <td style="max-width: 720px;">
                    <a name="{{ row.fragment_name }}"></a>
                    <a href="{% url 'films:details' row.film.id %}">
                        {{ row.film.title }}
                    </a>
                    {% if row.description %}
                        <br>
                        {{ row.description }}
                    {% endif %}
                </td>
                {% if row.duration_seconds <= short_threshold %}
                    <td style="color:SlateGray">{{ row.duration_str }}</td>
                {% else %}
                    <td>{{ row.duration_str }}</td>
                {% endif %}
                {% if row.subsection %}
                    <td class="modest-dropdown">
                        <span class="active-text" style="color:{{ row.subsection.section.color }};">
                            {{ row.subsection.name }}
                        </span>
                        <div class="modest-dropdown-content" style="min-width: 350px">
                            <table style="width: 100%;"><tr><td>
                                <a href="{% url 'films:films' %}{{ row.subsection_filter.href_filter }}">
                                    {{ row.subsection_filter.action }}
                                </a>
                                <span style="color:{{ row.subsection.section.color }}">{{ row.subsection.name }}</span>
                            <br>
                                <a href="{% url 'films:films' %}{{ row.section_filter.href_filter }}">
                                    {{ row.section_filter.action }}
                                </a>
                                <span style="color:{{ row.subsection.section.color }}">{{ row.subsection.section.name }}</span>
                            <br>
                            <a href="{% url 'sections:index' %}">To subsection page</a>
                            </td></tr></table>
                        </div>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% for fan_rating in row.fan_ratings %}
                    {% if fan_rating.fan == current_fan %}
                        <td class="cell-dropdown">
                            <span class="drop-button">
                                {{ fan_rating.rating }}
                            </span>
                            <div class="cell-dropdown-content">
                                {% for choice in fan_rating.choices %}
                                    <input type="submit" value="{{ choice.value | stringformat:'2d' }}  {{ choice.rating_name }}" name="{{ choice.submit_name }}">
                                {% endfor %}
                            </div>
                        </td>
                    {% else %}
                        <td style="text-align: center">
                            {{ fan_rating.rating }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </form>
    <br>
{% endblock %}
