{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    {% if user_is_admin %}
        <h3>Film fan</h3>
        <form action="{% url 'films:film_fan' %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Set current fan" />
        </form>
    {% else %}
        <h2 class="error">Not allowed</h2>
        <p>Only an admin fan can rate for other fans.</p>
    {% endif %}
{% endblock %}
