{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <table style="width: 100%; text-align: center">
        <tbody>
        <tr><td>Welcome to my Film Rating app, <em>{{ name }}</em>!</td></tr>
        </tbody>
    </table>
    <br>
    <h3>Site links</h3>
    <br>
    <a href="{% url 'films:film_fan' %}">Film fans</a>
    <br>
    <a href="{% url 'festivals:index' %}">Festivals</a>
    <br>
    <a href="{% url 'theaters:theaters' %}">Theaters</a>
    <br>
    <a href="{% url 'sections:index' %}">Sections</a>
    <br>
    <a href="{% url 'films:films' %}">Film ratings</a>
    <br><br>
    <a href="{% url 'loader:theaters' %}">Load theater data</a>
    <br>
    <a href="{% url 'loader:sections' %}">Load sections</a>
    <br>
    <a href="{% url 'loader:ratings' %}">Load ratings</a>
    <br><br>
    <a href="{% url 'authentication:set_test_cookie' %}">Test cookies</a>
    <br>
    <a href="{% url 'festivals:test_default_festival' %}">Test nearest festival</a>
    <br>

    <a href="{{ film.url }}">{{ film }}</a>

    <p>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC8yMDIyMDkyN19VdHJlY2h0LV9ORkYyMl9WSUNFLU5pZ2h0X0ZvdG8tTWFyY2VsLUtyaWpnc21hbi0wMDYuanBnIiwiZWRpdHMiOnsianBlZyI6eyJxdWFsaXR5Ijo2MCwicHJvZ3Jlc3NpdmUiOnRydWUsInRyZWxsaXNRdWFudGlzYXRpb24iOnRydWUsIm92ZXJzaG9vdERlcmluZ2luZyI6dHJ1ZSwib3B0aW1pemVTY2FucyI6dHJ1ZX0sInJlc2l6ZSI6eyJ3aWR0aCI6MzIwLCJoZWlnaHQiOjE4MCwiZml0IjoiY292ZXIifX19">Test NFF link 1</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC8yMDIyMDkyNF9GdWxsc2NyZWVuLXgtWElURS1EZS1iZXN0ZS12aWRlb2NsaXBzX0FubmEtTGlhc2hrb3ZhMDMwLTEuanBnIiwiZWRpdHMiOnsianBlZyI6eyJxdWFsaXR5Ijo2MCwicHJvZ3Jlc3NpdmUiOnRydWUsInRyZWxsaXNRdWFudGlzYXRpb24iOnRydWUsIm92ZXJzaG9vdERlcmluZ2luZyI6dHJ1ZSwib3B0aW1pemVTY2FucyI6dHJ1ZX0sInJlc2l6ZSI6eyJ3aWR0aCI6MzIwLCJoZWlnaHQiOjE4MCwiZml0IjoiY292ZXIifX19">Test NFF link 2</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC8yMDIyMDkyOF9VdHJlY2h0X05GRl9JVEhBS0FfMDVfwqlSYW1vbk1hbmdvbGQuanBnIiwiZWRpdHMiOnsianBlZyI6eyJxdWFsaXR5Ijo2MCwicHJvZ3Jlc3NpdmUiOnRydWUsInRyZWxsaXNRdWFudGlzYXRpb24iOnRydWUsIm92ZXJzaG9vdERlcmluZ2luZyI6dHJ1ZSwib3B0aW1pemVTY2FucyI6dHJ1ZX0sInJlc2l6ZSI6eyJ3aWR0aCI6MzIwLCJoZWlnaHQiOjE4MCwiZml0IjoiY292ZXIifX19">Test NFF link 3</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC9EYWdTY2VuYXJpb19QdWJsaWVrX3ppamthbnRzX3NjaGVybS5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjYwLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjozMjAsImhlaWdodCI6MTgwLCJmaXQiOiJjb3ZlciJ9fX0=">Test NFF link 4</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC9Hcm90ZS1Hb3VkZW4tS2FsZi1OZXVkZS1VdHJlY2h0LVN0YWQtZG9vci1Kb2tlLVNjaHV0LmpwZyIsImVkaXRzIjp7ImpwZWciOnsicXVhbGl0eSI6ODIsInByb2dyZXNzaXZlIjpmYWxzZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjo4MDAsImhlaWdodCI6ODAwLCJmaXQiOiJjb3ZlciJ9LCJzaGFycGVuIjp0cnVlfX0=?mtime=1661951776">Test NFF link 5</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC9Hcm90ZS1Hb3VkZW4tS2FsZi1OZXVkZS1VdHJlY2h0LVN0YWQtZG9vci1Kb2tlLVNjaHV0LmpwZyIsImVkaXRzIjp7ImpwZWciOnsicXVhbGl0eSI6ODIsInByb2dyZXNzaXZlIjpmYWxzZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjoxMjAwLCJoZWlnaHQiOjYzMCwiZml0IjoiY292ZXIifSwic2hhcnBlbiI6dHJ1ZX19?mtime=1661951776">Test NFF link 6</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC9ORkYtMjAyMS0wOTI2LUJlem9la2Vyc19Kb2tlLVNjaHV0LmpwZyIsImVkaXRzIjp7ImpwZWciOnsicXVhbGl0eSI6NjAsInByb2dyZXNzaXZlIjp0cnVlLCJ0cmVsbGlzUXVhbnRpc2F0aW9uIjp0cnVlLCJvdmVyc2hvb3REZXJpbmdpbmciOnRydWUsIm9wdGltaXplU2NhbnMiOnRydWV9LCJyZXNpemUiOnsid2lkdGgiOjMyMCwiaGVpZ2h0IjoxODAsImZpdCI6ImNvdmVyIn19fQ==">Test NFF link 7</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC9ORkYtdnJpandpbGxpZ2VyLXNjYW50LWRlLXRpY2tldHMtdmFuLWJlem9la2Vycy5qcGciLCJlZGl0cyI6eyJqcGVnIjp7InF1YWxpdHkiOjYwLCJwcm9ncmVzc2l2ZSI6dHJ1ZSwidHJlbGxpc1F1YW50aXNhdGlvbiI6dHJ1ZSwib3ZlcnNob290RGVyaW5naW5nIjp0cnVlLCJvcHRpbWl6ZVNjYW5zIjp0cnVlfSwicmVzaXplIjp7IndpZHRoIjozMjAsImhlaWdodCI6MTgwLCJmaXQiOiJjb3ZlciJ9fX0=">Test NFF link 8</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoiY29udGVudC9Qcm9mZXNzaW9uYWxzX3RhbGtzLmpwZyIsImVkaXRzIjp7ImpwZWciOnsicXVhbGl0eSI6NjAsInByb2dyZXNzaXZlIjp0cnVlLCJ0cmVsbGlzUXVhbnRpc2F0aW9uIjp0cnVlLCJvdmVyc2hvb3REZXJpbmdpbmciOnRydWUsIm9wdGltaXplU2NhbnMiOnRydWV9LCJyZXNpemUiOnsid2lkdGgiOjMyMCwiaGVpZ2h0IjoxODAsImZpdCI6ImNvdmVyIn19fQ==">Test NFF link 9</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoibG9nb3MvRVlfTG9nb19CZWFtX1JHQl9XaGl0ZV9ZZWxsb3cucG5nIiwiZWRpdHMiOnsicG5nIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6ZmFsc2V9LCJyZXNpemUiOnsiaGVpZ2h0Ijo0MCwiZml0IjoiaW5zaWRlIn0sInNoYXJwZW4iOnRydWV9fQ==">Test NFF link 10</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoibG9nb3MvRm9uZHMtMjEuTG9nby5XSVQtMDEucG5nIiwiZWRpdHMiOnsicG5nIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6ZmFsc2V9LCJyZXNpemUiOnsiaGVpZ2h0Ijo0MCwiZml0IjoiaW5zaWRlIn0sInNoYXJwZW4iOnRydWV9fQ==">Test NFF link 11</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoibG9nb3MvTG9nby1EaW9yYXBodGUucG5nIiwiZWRpdHMiOnsicG5nIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6ZmFsc2V9LCJyZXNpemUiOnsiaGVpZ2h0Ijo0MCwiZml0IjoiaW5zaWRlIn0sInNoYXJwZW4iOnRydWV9fQ==">Test NFF link 12</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoibG9nb3MvTG9nby1ORkYucG5nIiwiZWRpdHMiOnsicG5nIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6ZmFsc2V9LCJyZXNpemUiOnsiaGVpZ2h0Ijo0MCwiZml0IjoiaW5zaWRlIn0sInNoYXJwZW4iOnRydWV9fQ==">Test NFF link 13</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoibG9nb3MvTlBPX1ZtTmZzX2RpYXBAMS41eC5wbmciLCJlZGl0cyI6eyJwbmciOnsicXVhbGl0eSI6ODIsInByb2dyZXNzaXZlIjpmYWxzZX0sInJlc2l6ZSI6eyJoZWlnaHQiOjQwLCJmaXQiOiJpbnNpZGUifSwic2hhcnBlbiI6dHJ1ZX19">Test NFF link 14</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoibG9nb3MvVkxfTE9HT19MSUdHRU5EX0NPTVBMRUVUXzIwMjFfZGlhcC5wbmciLCJlZGl0cyI6eyJwbmciOnsicXVhbGl0eSI6ODIsInByb2dyZXNzaXZlIjpmYWxzZX0sInJlc2l6ZSI6eyJoZWlnaHQiOjQwLCJmaXQiOiJpbnNpZGUifSwic2hhcnBlbiI6dHJ1ZX19">Test NFF link 15</a><br>
    <a href="https://d30sbd0jtuusez.cloudfront.net/eyJidWNrZXQiOiJuZmYtYnVja2V0Iiwia2V5IjoibG9nb3MvbG9nby12b2xrc2tyYW50XzIwMjEtMDctMDEtMTI0NDMxX2toamoucG5nIiwiZWRpdHMiOnsicG5nIjp7InF1YWxpdHkiOjgyLCJwcm9ncmVzc2l2ZSI6ZmFsc2V9LCJyZXNpemUiOnsiaGVpZ2h0Ijo0MCwiZml0IjoiaW5zaWRlIn0sInNoYXJwZW4iOnRydWV9fQ==">Test NFF link 16</a><br>

    <a href="https://www.googletagmanager.com/ns.html?id=GTM-THLG68X">Test NFF iframe</a><br>
    </p>

{% endblock %}
