{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <table style="width: 100%; text-align: center">
        <tbody>
        <tr><td>Welcome to my {{ app_name }} app, <em>{{ name }}</em>!</td></tr>
        </tbody>
    </table>
    <br>
    <h3>Site links</h3>
    <br>
    <a href="{% url 'films:film_fan' %}">Film fans</a>
    <br>
    <a href="{% url 'festivals:index' %}">Festivals</a>
    <br>
    <a href="{% url 'sections:index' %}">Sections</a>
    <br>
    <a href="{% url 'theaters:theaters' %}">Theaters</a>
    <br>
    <a href="{% url 'films:films' %}">Film ratings</a>
    <br>
    <a href="{% url 'films:votes' %}">Film votes</a>
    <br><br>
    <a href="/loader/theaters?action=dump">Dump theater data</a>
    <br>
    <a href="{% url 'loader:new_screens' %}">Insert new theater data</a>
    <br>
    <a href="/loader/theaters?action=load">Load theater data</a>
    <br>
    <a href="{% url 'loader:sections' %}">Load sections</a>
    <br>
    <a href="{% url 'loader:ratings' %}">Load films and ratings</a>
    <br><br>
    <a href="{% url 'loader:film_backup' %}">Back up rating data</a>
    <br><br>
    <a href="{% url 'authentication:set_test_cookie' %}">Test cookies</a>
    <br>
    <a href="{% url 'festivals:test_default_festival' %}">Test nearest festival</a>
    <br>
{% endblock %}
