{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="row col-left-h2">Fill out your post-attendance votes</h2>
    <span class="row">
        <span class="col-right">
            <a href="{% url 'films:reviewers' %}">Reviewers</a>
        </span>
    </span>
    {% if unexpected_errors %}
        <h2 class="error">Unexpected error</h2>
        {% for error in unexpected_errors %}
            <p class="log">{{ error }}</p>
        {% endfor %}
        <br>
    {% endif %}
    {% if action.new_rating %}
        <p>
        {{ action.fan }}
        {% if action.old_rating == '-' %}
            gave <a href="{% url 'films:results' action.rated_film_id %}">{{ action.rated_film }}</a> a post-attendance {{ action.rating_type }} of <em> {{ action.new_rating }} ({{ action.new_rating_name }})</em>
        {% elif action.new_rating == '0' %}
            removed {{ action.rating_type }} {{ action.old_rating }} of <a href="{% url 'films:results' action.rated_film_id %}">{{ action.rated_film }}</a>
        {% else %}
            changed {{ action.rating_type }} {{ action.old_rating }} of <a href="{% url 'films:results' action.rated_film_id %}">{{ action.rated_film }}</a> into <em> {{ action.new_rating }} ({{ action.new_rating_name }})</em>
        {% endif %}
        {% if action.action_time|timesince == "0 minutes" %}
            less than a minute ago
        {% else %}
            {{ action.action_time|timesince }} ago
        {% endif %}
        </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <div class="no-select">
    <table>
        <thead>
            <tr>
                <th class="sticky-t-head" style="vertical-align: text-top;">Film</th>
                <th class="sticky-t-head" style="vertical-align: text-top;">Duration</th>
                <th class="sticky-t-head" style="vertical-align: text-top;">Reviewer</th>
                {% for fan in fans %}
                    <th class="sticky-t-head" style="vertical-align: text-top;">{{ fan }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in vote_rows %}
        <tr>
            <td>
                <a name="{{ row.fragment_name }}"></a>
                <a href="{{ row.film.url }}">{{ row.film.title }}</a>
            </td>
            <td>{{ row.duration_str }}</td>
            <td>{{ row.reviewer }}</td>
            {% for fan_vote in row.fan_votes %}
                {% if fan_vote.fan == current_fan %}
                    <td class="cell-dropdown">
                        <span class="drop-button">
                            {{ fan_vote.rating }}
                        </span>
                        <div class="cell-dropdown-content">
                            {% for choice in fan_vote.choices %}
                                <input type="submit" value="{{ choice.value | stringformat:'2d' }}  {{ choice.rating_name }}" name="{{ choice.submit_name }}">
                            {% endfor %}
                        </div>
                    </td>
                {% else %}
                    <td style="text-align: center">{{ fan_vote.rating }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </form>
    <br>
{% endblock %}
