{% extends "base_template.html" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
    <h3>Work in progress</h3>
    {% if unexpected_errors %}
        <h3 class="error">Unexpected error</h3>
        {% for error in unexpected_errors %}
            <p class="log">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <br>
    <table>
        <thead>
            <tr>
                <th class="sticky-t-head" style="vertical-align: text-top;">Film</th>
                <th class="sticky-t-head" style="vertical-align: text-top;">Duration</th>
                <th class="sticky-t-head" style="vertical-align: text-top;">Reviewer</th>
                {% for fan in fans %}
                    <th class="sticky-t-head" style="vertical-align: text-top;">{{ fan }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in vote_rows %}
        <tr>
            <td><a href="{{ row.film.url }}">{{ row.film.title }}</a></td>
            <td>{{ row.duration_str }}</td>
            <td>{{ row.reviewer }}</td>
            {% for fan_vote in row.fan_votes %}
                <td>{{ fan_vote.rating }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}
