{% extends "base_template.html" %}

{% block filmscreenings %}
<br>
<h3>All screenings of <span style="color: {{ festival_color }}">{{ film_title }}</span></h3>
<table style="min-width: 30%">
    <thead>
    <tr>
        <th>Screening</th>
        <th>Status</th>
        <th>Attendants</th>
        <th>Q&A</th>
    </tr>
    </thead>
    <tbody>
    {% for prop in film_screening_props %}
    <tr>
        {% if prop.film_screening == screening %}
            <td style="background: {{ prop.pair_selected.background }}; color: {{ prop.pair_selected.color }}">
        {% else %}
            <td>
        {% endif %}
                <a href="{% url 'screenings:day_schema' %}{{ prop.query_string }}{{ prop.fragment }}">
                    {{ prop.film_screening.str_short }}
                </a>
            </td>
        <td style="background: {{ prop.pair.background }}; color: {{ prop.pair.color }}">
            {{ prop.status.label }}
        </td>
        <td>{% if prop.attendants %} {{ prop.attendants }} {% else %} - {% endif %}</td>
        <td>{% if prop.q_and_a %} {{ prop.q_and_a }} {% else %} - {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{% endblock %}
